---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About my writing</h3>
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			All my writing is primarily for my own self-learning. If you find any issues or errors in my information you can contact me through links provided in my 'About' section.
		</p>
		<p>Thank you for reading!</p>
	</div>
</div>


